body {
  background-color: lavender;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  padding: 80px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  text-align: :left;
  font-weight: solid;
}
