body {
  
  background-color: lavender;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  padding: 80px;
  position: absolute;
  

 

}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: solid;
  font-size: 80px;
  box-shadow: 20px 10px 10px;
  width: 600px;
  position: absolute
  top: 0px;
  left: 0px;
  

}
h2 {
font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: solid;
  font-size: 40px;
  position: absolute
  top: 0px;
  left: 0px;
}

button {
  background-color: off-white;
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
 
 
}

#container {
  text-align: center;
}

code {
  font-family: monospace;
  
}
.pink-text {
  color: pink;
}
#my-learning-plan {
  background-color: white;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

